* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(to top, #304352, #d7d2cc);
  height: calc(100vh - 3rem);
}
.primary-heading {
  text-align: center;
  margin: 3rem;
  color: rgb(139, 120, 92);
}
.container {
  background-color: #bbbec0;
  width: 40%;
  padding: 100px 0 100px 0;
  margin: 40px auto 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 32px;
}
#select {
  width: 200px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 12px;
}
.input {
  padding-left: 12px;
  width: 150px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 12px;
}
.btn--clear {
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 12px;
}
